//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;600&family=Roboto+Mono:wght@300;400;700&family=Ubuntu:wght@300;400;500&display=swap');

:root{
    --bg-primary:#181b19;
    --bg-secundary:#2c372e;
    --color-default:#fff;
    --color-primary:#00ffd0;
    --color-secundary:#01dba4;
    --color-fade:#01dba410;
}

*{
    box-sizing: border-box;
    transition: all ease 0.25s;
}

html, body{
    margin:0;

    color:var(--color-default);
    background-color: var(--bg-primary);

    font-family: 'Arial', 'Tahoma';
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', 'Arial';
}

p{
    font-family: 'Open Sans', 'Arial';
}

div, span{
    font-family: 'Ubuntu', 'Arial';
}

a{
    color: var(--color-primary);
    text-decoration: none;

    border-bottom:2px solid transparent;

    &:active{
        color: var(--color-secundary);
    }

    &:hover{
        border-bottom-color:var(--color-primary);
    }
}

hr{
    width:100%;
}